.itemList-Container{
    padding: 2em;
    margin-top: 25%;
}

.title-categories{
    margin-top: -400px;
    margin-bottom: 20px;
}

@media (max-width:1300px){
    .itemList-Container{
        margin-top: 400px;
    }
}