.container-btnCounter{
width: 100%;
border-radius: 15px !important;
height: max-content;
display: flex;
flex-direction: column;
box-shadow: 3px 4px 14px -4px rgba(113,133,124,0.72);

}

.title-card-btnCounter{
    background-color:rgba(247, 245, 240, 0.845);
}

.container-counter{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-counter > button{
   font-size: 15px;
    text-align: center;
    border-radius: 9px;
    font-weight: bolder;
}

.container-counter > p{
   margin-top: none;
}

.btn-cart{
    width: 100%;
    border-radius: 9px !important;
    font-size: 0.8rem;
    padding: 2%;
    margin-top: 3%;
  
}

.btn-extras{
    margin-top: 15px;
    border-radius: 9px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-cart-extras{
    border-radius: 9px !important;
}

